delete_*.xml
*~
*swp
target/
.idea/
*.log
*.data
*.metadata
*.classpath
*.project
*.settings
*.class
target-eclipse
**bin
java-sources
features/reports
release.*
pom.xml.*
*.object
.DS_Store
*.save
*.log.*
*.orig
*.tmproj
*.iml
*.ipr
dependency-reduced-pom.xml
.vagrant/
/cookbooks
/tmp
.chef/
